Cкрипт, который будет выполнять следующую задачу: копировать все файлы с определенным расширением из 
одной директории в другую и изменять расширение на заданное.

1.Запросить исходную и целевую директории у пользователя
Описание: Запросить у пользователя указание исходной и целевой директорий.
Действие: Предложить пользователю ввести пути к исходной и целевой директориям.
Использовать следующие переменне: Исходная директория - source_directory 
Целевая директория - target_directory
2.Запросить расширение файлов для копирования
Описание: Запросить у пользователя указание расширения файлов, которые нужно скопировать.
Действие: Предложить пользователю ввести расширение файлов.
Использовать для сохранения переменную - file_extension 
3.Запросить новое расширение для файлов.
Описание: Запросить у пользователя новое расширения файлов.
Действие: Предложить пользователю ввести расширение файлов.
Использовать для сохранения переменную - new_file_extension 
4.Проверить существование и доступность исходной и целевой директорий
Описание: Проверить, существуют ли и доступны ли исходная и целевая директории.
Действие: Проверить существование и доступность директорий. Если они не существуют или недоступны, вывести сообщение об ошибке.
Прервать работу скрипта с кодом 1
5.Проверить наличие файлов с указанным расширением в исходной директории
Описание: Проверить, есть ли файлы с указанным расширением в исходной директории.
Действие: Поиск файлов с указанным расширением в исходной директории. Если файлы не найдены, вывести сообщение об ошибке.
Прервать работу скрипта с кодом 1
6.Скопировать файлы с новым расширением в целевую директорию
Описание: Скопировать все файлы с указанным расширением из исходной директории в целевую.
Действие: Копирование каждого файла с указанным расширением из исходной директории в целевую. Вывести сообщение о копировании каждого файла.
7.Создание архива исходных файлов.
Описание: Создать сжатый tar архив с исходными файлами.

Действие: Архивируем файлы из исходной директории source_directory с расширением - file_extension
Архив создается в целефой директории - target_directory
Имя архива: old_files_"Текщая дата в формате Y-M-D".tar.gz
Удалите файлы с расширением file_extension из исходной директории

 
